.col-4{
    padding:0;
}

.img-expanded{
    display: block;
    margin: 10%;
    border-radius: 0;
    width: 80%;
}

.img-thumb{
    border-radius: 20px 0 0 0;
    width: 150px;
    height: 150px;
}

.completed-expanded{
    display: block;
    margin: 0 10% 20px 10%;
    text-align: center;
    font-size: calc(1vw + 1vh + .5vmin);
}


.description{
    display:none;
    margin:0;
    
}

.episode{
    margin:40px 0;
    background-color: #0079d08a;
    border-radius:20px;
    
}

.episode-expanded{
    margin:40px 0;
    background-color: #0079d08a;
    border-radius:20px;
}


.episode-info{
    padding: 10px;
    
}

.expanded{
    width: 100%;
    display: -webkit-box;
    margin-top: 0;
    overflow: hidden;
    text-overflow: initial;
    -webkit-line-clamp: initial;
    -webkit-box-orient: initial;
    max-height: initial;
    min-height: 120px;
}

.hideorshow{
    margin: 0 auto 5px auto;
    text-align: center;
    font-size: medium;
}

.more{
    text-align: center;
    

}

.name{
    font-weight: bold;
    font-size: calc(1vw + 1vh + .5vmin);
    margin: 0;
    overflow:hidden;
}

.name-expanded{
    padding-top: 15px;
    font-weight: bold;
    font-size: calc(1vw + 1vh + .5vmin);
    margin: 0;
    overflow: hidden;
}

.no-margin{
    border-radius: 0 0 20px 20px;
}

#cool-hover{
	border-radius: 0 0 20px 20px;
    margin: 0;
    padding: 0;
	transition: all 0.5s;
}
#cool-hover:before{
	border-radius: inherit;
	display: block;
	width: 100%;
	height: 100%;
	content: '';
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
	background: linear-gradient(transparent, #517190b0);	
	transition: all 0.5s;
	z-index: 0;
}

#cool-hover:hover:before{
	opacity: 1;
}

.number, .completed{
    margin: auto;
    text-align: center;
    font-size: calc(1vw + 1vh + .5vmin);
}

.row a{
    margin-left: auto;
    margin-right: 15px;
    
}


.shown{
    display: inherit;
    font-size: calc(1vw + 1vh + .5vmin);
    
}

.notshown{
    display: none;
    
}


#episodeBody{
    width: 80%;
    margin: auto;
    
}



@media only screen and (max-width: 600px) {
    #episodeBody{
        width:90%
    }

    .description, .more{
        display: none
    }
}